@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500');


body {
    background: dodgerblue !important;
}

#quote-box {
    background: white;
    margin-top: 2em;
}

#text {
    font-size: 2.5em !important;
    letter-spacing: 3px;
    margin: 1em 0 1em 0 !important;
}

#author {
    letter-spacing: 3px;
    margin: 1em 0 1em 0 !important;
}

#new-quote {
    margin: 1em 0 1em 0;
}

i {
    font-size: 2em !important;
}